@import "_variables"

aside.sidebar
    background: $main-gray
    height: calc(100% - 60px)
    left: 0
    padding: 12px
    position: fixed
    top: 60px
    width: 200px

    .menu-list
        li
            margin-bottom: 5px
            margin-top: 5px

        a
            font-size: 13px

            span
                color: $light-gray

            &:hover
                background: darken($main-gray, 10%)
                color: $black

        a.active,
        a.active span
            color: $teal

    .menu-label
        color: $black
        font-size: 10px
